@charset "UTF-8";
@import "../main/function";

.login-main {
  background: #081839;
  display: -webkit-box;
  /* display: -webkit-flex; display: -moz-flex; display: -ms-flex; */
  display: -ms-flexbox;
  display: flex;
  /* 项目在主轴上的对齐方式 */
  justify-content: center;
  /* 项目在交叉轴上如何对齐 */
  align-items: center;
  /* 多根轴线的对齐方式 */
  align-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* width: 100%;
  height: 100%; */
  z-index: 0;
}
.login-main .foot {
  position: absolute;
  text-align: 'center';
  bottom: 0;
  padding: 10px;
  /* opacity: 0;  */
  color: #fff;
  font: normal 10px/36px "Microsoft YaHei"
}
.login-wrap {
  width:320px;
  height:360px;
  padding: 10px 25px;
  border: 1px solid #9aaaca;
  border-radius: 6px;
  color: #515158;
  z-index: 2;
  dt {
    height: 50px;
    color: #fff;
    padding: 10px 15px;
    border-bottom: 1px solid #5b759c;
    h3 {
      font: bold 18px/30px $font-stack;
      color: #fff;
    }
  }
  dd {
    padding: 20px;
    text-align: center;
    h3 {
      font: bold 18px/30px $font-stack;
      color: #fff;
      text-align: center;
    }
    p{
      line-height: 18px;
      margin: 0 auto;
      font: bold 14px/18px "Microsoft YaHei";
      text-align: center;
    }
    .login-form {
      // position: relative;
      z-index: 0;
      width: 100%;
      // height: calc(100vh - 100px);
      max-width: 300px;
      label, span {
        color: #ccc;
      }
      img.code-img {
        width: 80px; /*设置图片显示的宽*/
        height: 32px; /*图片显示的高*/
        background: #eee;
      }
      .login-sub {
        // position: absolute;
        // bottom: 0;
        // left: 0;
        // z-index: 100;
        width: 100%;
        height: 80px;
        .checkbox-left, .login-form-forgot {
          margin-bottom: 8px;
        }
        .checkbox-left{
          text-align: left;
        }
        .login-form-forgot {
          text-align: right;
        }
        button {
          width: 100%;
        }
      }
    }
  }
}