@charset "UTF-8";
@import "../main/function";

.login-main {
  width:280px;
  height:380px;
  overflow: hidden;
  margin: auto;
  padding: 0;
  color: #A6B2BB;
  background-color: rgb(81, 89, 110);
  z-index: 2;
  dt {
    height: 50px;
    color: #fff;
    padding: 10px 15px;
    background-color: #133f80;
    // 可拖拽区域
    -webkit-app-region: drag;
    // 在可区域中禁用文本选择
    -webkit-user-select: none;
    h3 {
      font: bold 18px/30px $font-stack;
      color: #fff;
    }
    .close {
      -webkit-app-region: no-drag; // 可拖拽区域排除
      float: right;
      width: 20px;
      height: 20px;
      margin: 5px 10px;
      cursor: pointer;
      position: relative;
      z-index: 0;
      &::before, &::after {
        content: '';
        width: 22px;
        height: 1px;
        background: transparent;
        position: absolute;
        top: 10px;
        left: 2px;
        z-index: 100;
        background-color: #fff;
      }
      &::before{
        -webkit-transform: rotate(45deg); /* Safari & Chrome */
            -moz-transform: rotate(45deg); /* Firefox */
            -o-transform: rotate(45deg); /* Opera */
      }
      &::after{
        -webkit-transform: rotate(-45deg); /* Safari & Chrome */
            -moz-transform: rotate(-45deg); /* Firefox */
            -o-transform: rotate(-45deg); /* Opera */
      }
    }
  }
  dd {
    padding: 20px;
    text-align: center;
    h3 {
      font: bold 18px/20px $font-stack;
      color: #333;
    }
    p{
      line-height: 18px;
      margin: 0 auto;
      font: bold 14px/18px "Microsoft YaHei";
    }
    .login-form {
      position: relative;
      z-index: 0;
      width: 100%;
      height: calc(100vh - 100px);
      .ivu-input-group-prepend, .ivu-input {
        border-width: 0 0 1px 0;
        border-radius: 0;
        background-color: transparent;
      }
      label, span {
        color: #ccc;
      }
      .login-sub {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 100;
        width: 100%;
        height: 80px;
        .checkbox-left, .checkbox-right {
          margin-bottom: 8px;
        }
        .checkbox-left{
          text-align: left;
        }
        .checkbox-right {
          text-align: right;
        }
        button {
          width: 100%;
        }
      }
    }
  }
}